body{
    font-family: Arial;
    background-color: aliceblue;
    text-align: left;
}
input{
    padding: 8px;
    width:200px;
}
button{
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
}
li{
    list-style-type: none;
    margin: 10px;
    background-color: white;
    padding: 8px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
